# Dataset

In [1]:
from datasets import load_dataset
import pandas as pd

merge_rewrite_dataset = load_dataset("positivethoughts/merge_rewrite_13.3k")
databricks_dataset = load_dataset('databricks/databricks-dolly-15k')

/home/dmitrii/micromamba/envs/spbrag/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
merge_rewrite_dataset = merge_rewrite_dataset['train'].to_pandas()
databricks_dataset = databricks_dataset['train'].to_pandas()

## Let's check datasets

In [3]:
merge_rewrite_dataset.head()

,rewrite_prompt,rewritten_text,original_text,id
0,Paraphrase the provided text effectively.,A batch of cookies were made by Amanda and she...,Amanda baked cookies and will bring Jerry some...,None
1,Rewrite the text in a more informal tone while...,Olivia and Olivier are both backing the libera...,Olivia and Olivier are voting for liberals in ...,None
2,Rearrange the sentence structure for a fresh p...,"To get more stuff done, Kim may consider tryin...",Kim may try the pomodoro technique recommended...,None
3,Shift the focus to Rachel's perspective withou...,"Rachel stands outside Edward's door, feeling a...",Edward thinks he is in love with Bella. Rachel...,None
4,Adapt the text for a workplace setting while m...,Samantha is feeling uncertain at work after ov...,"Sam is confused, because he overheard Rick com...",None

In [4]:
databricks_dataset.head()

,instruction,context,response,category
0,When did Virgin Australia start operating?,"Virgin Australia, the trading name of Virgin A...",Virgin Australia commenced services on 31 Augu...,closed_qa
1,Which is a species of fish? Tope or Rope,,Tope,classification
2,Why can camels survive for long without water?,,Camels use the fat in their humps to keep them...,open_qa
3,"Alice's parents have three daughters: Amy, Jes...",,The name of the third daughter is Alice,open_qa
4,When was Tomoaki Komorida born?,Komorida was born in Kumamoto Prefecture on Ju...,"Tomoaki Komorida was born on July 10,1981.",closed_qa

## Data preprocessing

In [5]:
merge_rewrite_dataset = merge_rewrite_dataset.drop(columns=['id'])

In [6]:
merge_rewrite_dataset_duplicates = merge_rewrite_dataset[merge_rewrite_dataset.duplicated(keep=False)]
merge_rewrite_dataset_duplicates

Empty DataFrame
Columns: [rewrite_prompt, rewritten_text, original_text]
Index: []

In [7]:
databricks_dataset_duplicates = databricks_dataset[databricks_dataset.duplicated(keep=False)]
databricks_dataset_duplicates

,instruction,context,response,category
1113,Why is the sky blue?,,Blue light is scattered in all directions by t...,general_qa
2958,Why is the sky blue?,,Blue light is scattered in all directions by t...,general_qa
3938,Which era of counterculture were the Beatles p...,"he Beatles were an English rock band, formed i...",The Beatles were integral to the development o...,closed_qa
4156,How is it that some high net-worth individuals...,,The Internal Revenue Service (IRS) taxes regul...,open_qa
4618,What are the four major subregions in Central ...,"""The Central Otago wine region is broken into ...",The Central Otago wine region is broken into m...,closed_qa
4710,Explain the use of screens in basketball,,"In basketball, when a team has the ball, one p...",open_qa
6342,Explain the use of screens in basketball,,"In basketball, when a team has the ball, one p...",open_qa
6874,what does it mean to have brunette hair?,,"A person with brunette hair, or a brunette, is...",open_qa
7740,Who is the protagonist in CyberPunk 2077?,Cyberpunk 2077 is a 2020 action role-playing v...,The main story revolves around the protagonist...,closed_qa
7809,Which era of counterculture were the Beatles p...,"he Beatles were an English rock band, formed i...",The Beatles were integral to the development o...,closed_qa
8110,How is it that some high net-worth individuals...,,The Internal Revenue Service (IRS) taxes regul...,open_qa
9206,Who is the protagonist in CyberPunk 2077?,Cyberpunk 2077 is a 2020 action role-playing v...,The main story revolves around the protagonist...,closed_qa
9674,what does it mean to have brunette hair?,,"A person with brunette hair, or a brunette, is...",open_qa
10218,What are the four major subregions in Central ...,"""The Central Otago wine region is broken into ...",The Central Otago wine region is broken into m...,closed_qa
12487,What do giant Pandas eats?,The giant panda is a bear species endemic to C...,"the giant panda is a folivore, with bamboo sho...",closed_qa
14821,What do giant Pandas eats?,The giant panda is a bear species endemic to C...,"the giant panda is a folivore, with bamboo sho...",closed_qa

In [8]:
databricks_dataset = databricks_dataset.drop_duplicates()

In [9]:
databricks_dataset_duplicates = databricks_dataset[databricks_dataset.duplicated(keep=False)]
databricks_dataset_duplicates

Empty DataFrame
Columns: [instruction, context, response, category]
Index: []

In [10]:
databricks_dataset.category.unique()

array(['closed_qa', 'classification', 'open_qa', 'information_extraction',
       'brainstorming', 'general_qa', 'summarization', 'creative_writing'],
      dtype=object)

In [11]:
databricks_dataset.isna().sum()

instruction    0
context        0
response       0
category       0
dtype: int64

## Deep Data Understanding

In [12]:
category = 'closed_qa'
print(databricks_dataset[(databricks_dataset['category'] == category) & (len(databricks_dataset['context']) == 0)])
databricks_dataset[databricks_dataset['category'] == category].head()

Empty DataFrame
Columns: [instruction, context, response, category]
Index: []

,instruction,context,response,category
0,When did Virgin Australia start operating?,"Virgin Australia, the trading name of Virgin A...",Virgin Australia commenced services on 31 Augu...,closed_qa
4,When was Tomoaki Komorida born?,Komorida was born in Kumamoto Prefecture on Ju...,"Tomoaki Komorida was born on July 10,1981.",closed_qa
6,"Given a reference text about Lollapalooza, whe...",Lollapalooza /ˌlɒləpəˈluːzə/ (Lolla) is an ann...,Lollapalooze is an annual musical festival hel...,closed_qa
11,Who was Kyle Van Zyl playing against when he s...,Van Zyl joined the Eastern Province Kings Acad...,Kyle Van Zyl was playing against Boland U21 wh...,closed_qa
48,Who was the first to record the Needles and Pi...,"""Needles and Pins"" is a rock song credited to ...",The first artist to record Needles and Pins so...,closed_qa

In [13]:
category = 'classification'
print(databricks_dataset[(databricks_dataset['category'] == category) & (len(databricks_dataset['context']) == 0)])
databricks_dataset[databricks_dataset['category'] == category].head()

Empty DataFrame
Columns: [instruction, context, response, category]
Index: []

,instruction,context,response,category
1,Which is a species of fish? Tope or Rope,,Tope,classification
19,Identify which instrument is string or percuss...,,"Gudok is string, Cantaro is percussion.",classification
26,Which of the following is useful for transport...,,The useful objects for transportation in the l...,classification
27,Identify which instrument is string or woodwin...,,"Zurna is woodwind, Panduri is string.",classification
62,Identify which instrument is string or percuss...,,"Shamisen is string, Kpanlogo is percussion.",classification

In [14]:
category = 'open_qa'
print(databricks_dataset[(databricks_dataset['category'] == category) & (len(databricks_dataset['context']) == 0)])
databricks_dataset[databricks_dataset['category'] == category].head()

Empty DataFrame
Columns: [instruction, context, response, category]
Index: []

,instruction,context,response,category
2,Why can camels survive for long without water?,,Camels use the fat in their humps to keep them...,open_qa
3,"Alice's parents have three daughters: Amy, Jes...",,The name of the third daughter is Alice,open_qa
7,Who gave the UN the land in NY to build their HQ,,John D Rockerfeller,open_qa
13,What is a polygon?,,A polygon is a form in Geometry. It is a sing...,open_qa
15,Which episodes of season four of Game of Thron...,,"She directed ""Oathkeeper"" and ""First of His Na...",open_qa

In [15]:
category = 'information_extraction'
print(databricks_dataset[(databricks_dataset['category'] == category) & (len(databricks_dataset['context']) == 0)])
databricks_dataset[databricks_dataset['category'] == category].head()

Empty DataFrame
Columns: [instruction, context, response, category]
Index: []

,instruction,context,response,category
5,If I have more pieces at the time of stalemate...,Stalemate is a situation in chess where the pl...,No. \nStalemate is a drawn position. It doesn'...,information_extraction
9,Who was John Moses Browning?,"John Moses Browning (January 23, 1855 – Novemb...",John Moses Browning is one of the most well-kn...,information_extraction
10,Who is Thomas Jefferson?,"Thomas Jefferson (April 13, 1743 – July 4, 182...","Thomas Jefferson (April 13, 1743 – July 4, 182...",information_extraction
12,From the passage list down the areas for which...,Dar es Salaam (/ˌdɑːr ɛs səˈlɑːm/; from Arabic...,"arts, fashion, media, film, television, finance",information_extraction
16,What is process mining?,Process mining is a family of techniques relat...,"Process mining brings together data mining, da...",information_extraction

In [16]:
category = 'brainstorming'
print(databricks_dataset[(databricks_dataset['category'] == category) & (len(databricks_dataset['context']) == 0)])
databricks_dataset[databricks_dataset['category'] == category].head()

Empty DataFrame
Columns: [instruction, context, response, category]
Index: []

,instruction,context,response,category
8,Why mobile is bad for human,,We are always engaged one phone which is not g...,brainstorming
17,What are some unique curtain tie backs that yo...,,There are many items you can use to make a cur...,brainstorming
20,Give me the top 5 golf equipment company names.,,"Titleist, Taylormade, Callaway, Ping, Cobra",brainstorming
35,Give me a list of some characteristics of a go...,,Some characteristics of good coffee shops incl...,brainstorming
47,What is the best tv series in the world,,Dexter- The Dexter is so exciting to watch tha...,brainstorming

In [17]:
category = 'general_qa'
print(databricks_dataset[(databricks_dataset['category'] == category) & (len(databricks_dataset['context']) == 0)])
databricks_dataset[databricks_dataset['category'] == category].head()

Empty DataFrame
Columns: [instruction, context, response, category]
Index: []

,instruction,context,response,category
14,How do I start running?,,Make sure you get comfortable running shoes an...,general_qa
30,What is best Playstation or Xbox,,Playstation and Xbox are two competing game co...,general_qa
33,what is REST API,,REST API is an architectural style for buildin...,general_qa
38,How can I contribute to Spark?,,"Yes, Spark is an open source project and anyon...",general_qa
43,Did dinosaurs have lips?,,Recent research suggests that the popular perc...,general_qa

In [18]:
category = 'summarization'
print(databricks_dataset[(databricks_dataset['category'] == category) & (len(databricks_dataset['context']) == 0)])
databricks_dataset[databricks_dataset['category'] == category].head()

Empty DataFrame
Columns: [instruction, context, response, category]
Index: []

,instruction,context,response,category
18,What is a dispersive prism?,"In optics, a dispersive prism is an optical pr...",A dispersive prism is an optical prism that di...,summarization
36,Please summarize what Linkedin does.,LinkedIn (/lɪŋktˈɪn/) is a business and employ...,Linkedin is a social platform that business pr...,summarization
40,Using examples taken from the text give me a s...,Slavery ended in the United States in 1865 wit...,In spite of progressive changes since the end ...,summarization
49,Provide me a list of the different types of ha...,Different types of climbing warrant particular...,Minimalistic Harness: has gear loops that are ...,summarization
59,Without quoting directly from the text give me...,"Key lime pie is probably derived from the ""Mag...",Key lime pie is an American dessert pie. It is...,summarization

In [19]:
category = 'creative_writing'
print(databricks_dataset[(databricks_dataset['category'] == category) & (len(databricks_dataset['context']) == 0)])
databricks_dataset[databricks_dataset['category'] == category].head()

Empty DataFrame
Columns: [instruction, context, response, category]
Index: []

,instruction,context,response,category
42,write a scene between two actors discussing mo...,,"Actress 1: ""Oh my god, have you seen Inception...",creative_writing
56,Write a short paragraph about why you should n...,,Having both a pet bird and a pet cat is not a ...,creative_writing
96,Write a short story about a person who discove...,,It was going to be a long day. With her broth...,creative_writing
112,Plan for a three day road trip for May long we...,,"May 26: Drive to Montreal from Westfield, NJ. ...",creative_writing
123,write a short essay on California wild fire,,"California is known for its hot, dry summers, ...",creative_writing

In [20]:
merge_rewrite_dataset['prompt'] = merge_rewrite_dataset.apply(lambda x: x['rewrite_prompt'] + ' ' + x['original_text'], axis=1)
databricks_dataset['prompt'] = databricks_dataset.apply(lambda x: x['instruction'] + ' ' + x['context'], axis=1)

In [21]:
databricks_dataset = databricks_dataset.drop(columns=['instruction', 'context', 'response'])
merge_rewrite_dataset = merge_rewrite_dataset.drop(columns=['rewrite_prompt', 'rewritten_text', 'original_text'])

### Define categories that need retrieval

In [22]:
need_retrieval_categories = ['open_qa', 'brainstorming', 'general_qa', 'creative_writing']

In [23]:
merge_rewrite_dataset['need_retrieval'] = 0
databricks_dataset['need_retrieval'] = databricks_dataset['category'].apply(lambda x: 1 if x in need_retrieval_categories else 0)

### Concat datasets

In [24]:
merged_dataset = pd.concat([databricks_dataset, merge_rewrite_dataset], axis=0)
merged_dataset.shape

(28368, 3)

As we can see the dataset is imbalanced.

In [25]:
print(merged_dataset['need_retrieval'].sum() / merged_dataset['need_retrieval'].shape[0])
merged_dataset.shape

0.2962492949802594

(28368, 3)

### Save dataset

In [26]:
merged_dataset.to_csv('../data/merged.csv', index=False)