# Dataset

In [ ]:
from datasets import load_dataset
import pandas as pd

merge_rewrite_dataset = load_dataset("positivethoughts/merge_rewrite_13.3k")
databricks_dataset = load_dataset("databricks/databricks-dolly-15k")

/home/dmitrii/micromamba/envs/spbrag/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [ ]:
merge_rewrite_dataset = merge_rewrite_dataset["train"].to_pandas()
databricks_dataset = databricks_dataset["train"].to_pandas()

## Let's check datasets

In [3]:
merge_rewrite_dataset.head()

,rewrite_prompt,rewritten_text,original_text,id
0,Paraphrase the provided text effectively.,A batch of cookies were made by Amanda and she...,Amanda baked cookies and will bring Jerry some...,None
1,Rewrite the text in a more informal tone while...,Olivia and Olivier are both backing the libera...,Olivia and Olivier are voting for liberals in ...,None
2,Rearrange the sentence structure for a fresh p...,"To get more stuff done, Kim may consider tryin...",Kim may try the pomodoro technique recommended...,None
3,Shift the focus to Rachel's perspective withou...,"Rachel stands outside Edward's door, feeling a...",Edward thinks he is in love with Bella. Rachel...,None
4,Adapt the text for a workplace setting while m...,Samantha is feeling uncertain at work after ov...,"Sam is confused, because he overheard Rick com...",None

In [4]:
databricks_dataset.head()

,instruction,context,response,category
0,When did Virgin Australia start operating?,"Virgin Australia, the trading name of Virgin A...",Virgin Australia commenced services on 31 Augu...,closed_qa
1,Which is a species of fish? Tope or Rope,,Tope,classification
2,Why can camels survive for long without water?,,Camels use the fat in their humps to keep them...,open_qa
3,"Alice's parents have three daughters: Amy, Jes...",,The name of the third daughter is Alice,open_qa
4,When was Tomoaki Komorida born?,Komorida was born in Kumamoto Prefecture on Ju...,"Tomoaki Komorida was born on July 10,1981.",closed_qa

## Data preprocessing

In [ ]:
merge_rewrite_dataset = merge_rewrite_dataset.drop(columns=["id"])

In [ ]:
merge_rewrite_dataset_duplicates = merge_rewrite_dataset[
    merge_rewrite_dataset.duplicated(keep=False)
]
merge_rewrite_dataset_duplicates

Empty DataFrame
Columns: [rewrite_prompt, rewritten_text, original_text]
Index: []

In [ ]:
databricks_dataset_duplicates = databricks_dataset[
    databricks_dataset.duplicated(keep=False)
]
databricks_dataset_duplicates

,instruction,context,response,category
1113,Why is the sky blue?,,Blue light is scattered in all directions by t...,general_qa
2958,Why is the sky blue?,,Blue light is scattered in all directions by t...,general_qa
3938,Which era of counterculture were the Beatles p...,"he Beatles were an English rock band, formed i...",The Beatles were integral to the development o...,closed_qa
4156,How is it that some high net-worth individuals...,,The Internal Revenue Service (IRS) taxes regul...,open_qa
4618,What are the four major subregions in Central ...,"""The Central Otago wine region is broken into ...",The Central Otago wine region is broken into m...,closed_qa
4710,Explain the use of screens in basketball,,"In basketball, when a team has the ball, one p...",open_qa
6342,Explain the use of screens in basketball,,"In basketball, when a team has the ball, one p...",open_qa
6874,what does it mean to have brunette hair?,,"A person with brunette hair, or a brunette, is...",open_qa
7740,Who is the protagonist in CyberPunk 2077?,Cyberpunk 2077 is a 2020 action role-playing v...,The main story revolves around the protagonist...,closed_qa
7809,Which era of counterculture were the Beatles p...,"he Beatles were an English rock band, formed i...",The Beatles were integral to the development o...,closed_qa
8110,How is it that some high net-worth individuals...,,The Internal Revenue Service (IRS) taxes regul...,open_qa
9206,Who is the protagonist in CyberPunk 2077?,Cyberpunk 2077 is a 2020 action role-playing v...,The main story revolves around the protagonist...,closed_qa
9674,what does it mean to have brunette hair?,,"A person with brunette hair, or a brunette, is...",open_qa
10218,What are the four major subregions in Central ...,"""The Central Otago wine region is broken into ...",The Central Otago wine region is broken into m...,closed_qa
12487,What do giant Pandas eats?,The giant panda is a bear species endemic to C...,"the giant panda is a folivore, with bamboo sho...",closed_qa
14821,What do giant Pandas eats?,The giant panda is a bear species endemic to C...,"the giant panda is a folivore, with bamboo sho...",closed_qa

In [8]:
databricks_dataset = databricks_dataset.drop_duplicates()

In [ ]:
databricks_dataset_duplicates = databricks_dataset[
    databricks_dataset.duplicated(keep=False)
]
databricks_dataset_duplicates

Empty DataFrame
Columns: [instruction, context, response, category]
Index: []

In [10]:
databricks_dataset.category.unique()

array(['closed_qa', 'classification', 'open_qa', 'information_extraction',
       'brainstorming', 'general_qa', 'summarization', 'creative_writing'],
      dtype=object)

In [11]:
databricks_dataset.isna().sum()

instruction    0
context        0
response       0
category       0
dtype: int64

## Deep Data Understanding

In [ ]:
category = "closed_qa"
print(
    databricks_dataset[
        (databricks_dataset["category"] == category)
        & (len(databricks_dataset["context"]) == 0)
    ]
)
databricks_dataset[databricks_dataset["category"] == category].head()

Empty DataFrame
Columns: [instruction, context, response, category]
Index: []

,instruction,context,response,category
0,When did Virgin Australia start operating?,"Virgin Australia, the trading name of Virgin A...",Virgin Australia commenced services on 31 Augu...,closed_qa
4,When was Tomoaki Komorida born?,Komorida was born in Kumamoto Prefecture on Ju...,"Tomoaki Komorida was born on July 10,1981.",closed_qa
6,"Given a reference text about Lollapalooza, whe...",Lollapalooza /ˌlɒləpəˈluːzə/ (Lolla) is an ann...,Lollapalooze is an annual musical festival hel...,closed_qa
11,Who was Kyle Van Zyl playing against when he s...,Van Zyl joined the Eastern Province Kings Acad...,Kyle Van Zyl was playing against Boland U21 wh...,closed_qa
48,Who was the first to record the Needles and Pi...,"""Needles and Pins"" is a rock song credited to ...",The first artist to record Needles and Pins so...,closed_qa

In [ ]:
category = "classification"
print(
    databricks_dataset[
        (databricks_dataset["category"] == category)
        & (len(databricks_dataset["context"]) == 0)
    ]
)
databricks_dataset[databricks_dataset["category"] == category].head()

Empty DataFrame
Columns: [instruction, context, response, category]
Index: []

,instruction,context,response,category
1,Which is a species of fish? Tope or Rope,,Tope,classification
19,Identify which instrument is string or percuss...,,"Gudok is string, Cantaro is percussion.",classification
26,Which of the following is useful for transport...,,The useful objects for transportation in the l...,classification
27,Identify which instrument is string or woodwin...,,"Zurna is woodwind, Panduri is string.",classification
62,Identify which instrument is string or percuss...,,"Shamisen is string, Kpanlogo is percussion.",classification

In [ ]:
category = "open_qa"
print(
    databricks_dataset[
        (databricks_dataset["category"] == category)
        & (len(databricks_dataset["context"]) == 0)
    ]
)
databricks_dataset[databricks_dataset["category"] == category].head()

Empty DataFrame
Columns: [instruction, context, response, category]
Index: []

,instruction,context,response,category
2,Why can camels survive for long without water?,,Camels use the fat in their humps to keep them...,open_qa
3,"Alice's parents have three daughters: Amy, Jes...",,The name of the third daughter is Alice,open_qa
7,Who gave the UN the land in NY to build their HQ,,John D Rockerfeller,open_qa
13,What is a polygon?,,A polygon is a form in Geometry. It is a sing...,open_qa
15,Which episodes of season four of Game of Thron...,,"She directed ""Oathkeeper"" and ""First of His Na...",open_qa

In [ ]:
category = "information_extraction"
print(
    databricks_dataset[
        (databricks_dataset["category"] == category)
        & (len(databricks_dataset["context"]) == 0)
    ]
)
databricks_dataset[databricks_dataset["category"] == category].head()

Empty DataFrame
Columns: [instruction, context, response, category]
Index: []

,instruction,context,response,category
5,If I have more pieces at the time of stalemate...,Stalemate is a situation in chess where the pl...,No. \nStalemate is a drawn position. It doesn'...,information_extraction
9,Who was John Moses Browning?,"John Moses Browning (January 23, 1855 – Novemb...",John Moses Browning is one of the most well-kn...,information_extraction
10,Who is Thomas Jefferson?,"Thomas Jefferson (April 13, 1743 – July 4, 182...","Thomas Jefferson (April 13, 1743 – July 4, 182...",information_extraction
12,From the passage list down the areas for which...,Dar es Salaam (/ˌdɑːr ɛs səˈlɑːm/; from Arabic...,"arts, fashion, media, film, television, finance",information_extraction
16,What is process mining?,Process mining is a family of techniques relat...,"Process mining brings together data mining, da...",information_extraction

In [ ]:
category = "brainstorming"
print(
    databricks_dataset[
        (databricks_dataset["category"] == category)
        & (len(databricks_dataset["context"]) == 0)
    ]
)
databricks_dataset[databricks_dataset["category"] == category].head()

Empty DataFrame
Columns: [instruction, context, response, category]
Index: []

,instruction,context,response,category
8,Why mobile is bad for human,,We are always engaged one phone which is not g...,brainstorming
17,What are some unique curtain tie backs that yo...,,There are many items you can use to make a cur...,brainstorming
20,Give me the top 5 golf equipment company names.,,"Titleist, Taylormade, Callaway, Ping, Cobra",brainstorming
35,Give me a list of some characteristics of a go...,,Some characteristics of good coffee shops incl...,brainstorming
47,What is the best tv series in the world,,Dexter- The Dexter is so exciting to watch tha...,brainstorming

In [ ]:
category = "general_qa"
print(
    databricks_dataset[
        (databricks_dataset["category"] == category)
        & (len(databricks_dataset["context"]) == 0)
    ]
)
databricks_dataset[databricks_dataset["category"] == category].head()

Empty DataFrame
Columns: [instruction, context, response, category]
Index: []

,instruction,context,response,category
14,How do I start running?,,Make sure you get comfortable running shoes an...,general_qa
30,What is best Playstation or Xbox,,Playstation and Xbox are two competing game co...,general_qa
33,what is REST API,,REST API is an architectural style for buildin...,general_qa
38,How can I contribute to Spark?,,"Yes, Spark is an open source project and anyon...",general_qa
43,Did dinosaurs have lips?,,Recent research suggests that the popular perc...,general_qa

In [ ]:
category = "summarization"
print(
    databricks_dataset[
        (databricks_dataset["category"] == category)
        & (len(databricks_dataset["context"]) == 0)
    ]
)
databricks_dataset[databricks_dataset["category"] == category].head()

Empty DataFrame
Columns: [instruction, context, response, category]
Index: []

,instruction,context,response,category
18,What is a dispersive prism?,"In optics, a dispersive prism is an optical pr...",A dispersive prism is an optical prism that di...,summarization
36,Please summarize what Linkedin does.,LinkedIn (/lɪŋktˈɪn/) is a business and employ...,Linkedin is a social platform that business pr...,summarization
40,Using examples taken from the text give me a s...,Slavery ended in the United States in 1865 wit...,In spite of progressive changes since the end ...,summarization
49,Provide me a list of the different types of ha...,Different types of climbing warrant particular...,Minimalistic Harness: has gear loops that are ...,summarization
59,Without quoting directly from the text give me...,"Key lime pie is probably derived from the ""Mag...",Key lime pie is an American dessert pie. It is...,summarization

In [ ]:
category = "creative_writing"
print(
    databricks_dataset[
        (databricks_dataset["category"] == category)
        & (len(databricks_dataset["context"]) == 0)
    ]
)
databricks_dataset[databricks_dataset["category"] == category].head()

Empty DataFrame
Columns: [instruction, context, response, category]
Index: []

,instruction,context,response,category
42,write a scene between two actors discussing mo...,,"Actress 1: ""Oh my god, have you seen Inception...",creative_writing
56,Write a short paragraph about why you should n...,,Having both a pet bird and a pet cat is not a ...,creative_writing
96,Write a short story about a person who discove...,,It was going to be a long day. With her broth...,creative_writing
112,Plan for a three day road trip for May long we...,,"May 26: Drive to Montreal from Westfield, NJ. ...",creative_writing
123,write a short essay on California wild fire,,"California is known for its hot, dry summers, ...",creative_writing

In [ ]:
merge_rewrite_dataset["prompt"] = merge_rewrite_dataset.apply(
    lambda x: x["rewrite_prompt"] + " " + x["original_text"], axis=1
)
databricks_dataset["prompt"] = databricks_dataset.apply(
    lambda x: x["instruction"] + " " + x["context"], axis=1
)

In [ ]:
databricks_dataset = databricks_dataset.drop(
    columns=["instruction", "context", "response"]
)
merge_rewrite_dataset = merge_rewrite_dataset.drop(
    columns=["rewrite_prompt", "rewritten_text", "original_text"]
)

### Define categories that need retrieval

In [ ]:
need_retrieval_categories = [
    "open_qa",
    "brainstorming",
    "general_qa",
    "creative_writing",
]

In [ ]:
merge_rewrite_dataset["need_retrieval"] = 0
databricks_dataset["need_retrieval"] = databricks_dataset["category"].apply(
    lambda x: 1 if x in need_retrieval_categories else 0
)

### Concat datasets

In [24]:
merged_dataset = pd.concat([databricks_dataset, merge_rewrite_dataset], axis=0)
merged_dataset.shape

(28368, 3)

As we can see the dataset is imbalanced.

In [ ]:
print(
    merged_dataset["need_retrieval"].sum() / merged_dataset["need_retrieval"].shape[0]
)
merged_dataset.shape

0.2962492949802594

(28368, 3)

In [26]:
sample_need_retrieval_0 = merged_dataset[merged_dataset["need_retrieval"] == 0].sample(
    n=200, random_state=42
)
sample_need_retrieval_0 = sample_need_retrieval_0.rename(columns={"prompt": "question"})
merged_dataset = merged_dataset.drop(sample_need_retrieval_0.index)

In [27]:
sample_need_retrieval_0

,category,question,need_retrieval
5063,closed_qa,Is the capital city and the largest city of Ch...,0
5846,NaN,Change the text into a historical reenactment ...,0
9650,NaN,Make the text into a cyberpunk hacker's manife...,0
4051,NaN,Make the text into a weather forecast script T...,0
2494,NaN,Describe this as a arrangement to be arranged....,0
...,...,...,...
13218,NaN,Write like a classical composer: Adopt the str...,0
9729,NaN,Rephrase this as a wise old tree’s advice. Liv...,0
11670,information_extraction,Name some of the well-known superheroes of Mar...,0
6952,NaN,Imagine this as a utopian society’s constituti...,0
2499,closed_qa,"Given the following paragraph, where did House...",0

In [28]:
squad_dataset = load_dataset("squad_v2", split="train")
squad_dataset = squad_dataset.to_pandas()
squad_dataset.head()

,id,title,context,question,answers
0,56be85543aeaaa14008c9063,Beyoncé,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce start becoming popular?,"{'text': ['in the late 1990s'], 'answer_start'..."
1,56be85543aeaaa14008c9065,Beyoncé,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,What areas did Beyonce compete in when she was...,"{'text': ['singing and dancing'], 'answer_star..."
2,56be85543aeaaa14008c9066,Beyoncé,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce leave Destiny's Child and bec...,"{'text': ['2003'], 'answer_start': [526]}"
3,56bf6b0f3aeaaa14008c9601,Beyoncé,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,In what city and state did Beyonce grow up?,"{'text': ['Houston, Texas'], 'answer_start': [..."
4,56bf6b0f3aeaaa14008c9602,Beyoncé,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,In which decade did Beyonce become famous?,"{'text': ['late 1990s'], 'answer_start': [276]}"

In [29]:
squad_dataset.title.unique()

array(['Beyoncé', 'Frédéric_Chopin',
       'Sino-Tibetan_relations_during_the_Ming_dynasty', 'IPod',
       'The_Legend_of_Zelda:_Twilight_Princess', 'Spectre_(2015_film)',
       '2008_Sichuan_earthquake', 'New_York_City',
       'To_Kill_a_Mockingbird', 'Solar_energy', 'Kanye_West', 'Buddhism',
       'American_Idol', 'Dog', '2008_Summer_Olympics_torch_relay',
       'Genome', 'Comprehensive_school', 'Republic_of_the_Congo',
       'Prime_minister', 'Institute_of_technology', 'Wayback_Machine',
       'Dutch_Republic', 'Symbiosis', 'Canadian_Armed_Forces',
       'Cardinal_(Catholicism)', 'Iranian_languages', 'Lighting',
       'Separation_of_powers_under_the_United_States_Constitution',
       'Architecture', 'Human_Development_Index', 'Southern_Europe',
       'BBC_Television', 'Arnold_Schwarzenegger', 'Plymouth', 'Heresy',
       'Warsaw_Pact', 'Materialism', 'Christian',
       'Sony_Music_Entertainment', 'Oklahoma_City', 'Hunter-gatherer',
       'United_Nations_Population_Fund',
       'Russian_Soviet_Federative_Socialist_Republic',
       'Alexander_Graham_Bell', 'Pub', 'Internet_service_provider',
       'Comics', 'Saint_Helena', 'Aspirated_consonant', 'Hydrogen',
       'Space_Race', 'Web_browser', 'BeiDou_Navigation_Satellite_System',
       'Canon_law', 'Communications_in_Somalia', 'Catalan_language',
       'Boston', 'Universal_Studios', 'Estonian_language', 'Paper',
       'Adult_contemporary_music', 'Daylight_saving_time',
       'Royal_Institute_of_British_Architects',
       'National_Archives_and_Records_Administration', 'Tristan_da_Cunha',
       'University_of_Kansas', 'Nanjing', 'Arena_Football_League',
       'Dialect', 'Bern', 'Westminster_Abbey', 'Political_corruption',
       'Classical_music', 'Slavs', 'Southampton', 'Treaty',
       'Josip_Broz_Tito', 'Marshall_Islands', 'Szlachta', 'Virgil',
       'Alps', 'Gene', 'Guinea-Bissau',
       'List_of_numbered_streets_in_Manhattan', 'Brain', 'Near_East',
       'Zhejiang', 'Ministry_of_Defence_(United_Kingdom)',
       'High-definition_television', 'Wood', 'Somalis', 'Middle_Ages',
       'Phonology', 'Computer', 'Black_people', 'The_Times', 'New_Delhi',
       'Bird_migration', 'Atlantic_City,_New_Jersey', 'Immunology', 'MP3',
       'House_music', 'Letter_case', 'Chihuahua_(state)',
       'Imamah_(Shia_doctrine)', 'Pitch_(music)',
       'England_national_football_team', 'Houston', 'Copper',
       'Identity_(social_science)', 'Himachal_Pradesh', 'Communication',
       'Grape', 'Computer_security', 'Orthodox_Judaism', 'Animal', 'Beer',
       'Race_and_ethnicity_in_the_United_States_Census',
       'United_States_dollar', 'Imperial_College_London', 'Hanover',
       'Emotion', 'Everton_F.C.', 'Old_English', 'Aircraft_carrier',
       'Federal_Aviation_Administration', 'Lancashire', 'Mesozoic',
       'Videoconferencing', 'Gregorian_calendar', 'Xbox_360',
       'Military_history_of_the_United_States', 'Hard_rock',
       'Great_Plains', 'Infrared', 'Biodiversity', 'ASCII', 'Digestion',
       'Gymnastics', 'FC_Barcelona', 'Federal_Bureau_of_Investigation',
       'Mary_(mother_of_Jesus)', 'Melbourne', 'John,_King_of_England',
       'Macintosh', 'Anti-aircraft_warfare', 'Sanskrit', 'Valencia',
       'General_Electric', 'United_States_Army', 'Franco-Prussian_War',
       'Adolescence', 'Antarctica', 'Eritrea', 'Uranium',
       'Order_of_the_British_Empire', 'Circadian_rhythm', 'Elizabeth_II',
       'Sexual_orientation', 'Dell',
       'Capital_punishment_in_the_United_States', 'Age_of_Enlightenment',
       'Nintendo_Entertainment_System', 'Athanasius_of_Alexandria',
       'Seattle', 'Memory', 'Multiracial_American', 'Ashkenazi_Jews',
       'Pharmaceutical_industry', 'Umayyad_Caliphate', 'Asphalt',
       'Queen_Victoria', 'Freemasonry', 'Israel', 'Hellenistic_period',
       'Bill_%26_Melinda_Gates_Foundation', 'Montevideo', 'Poultry',
       'Dutch_language', 'Buckingham_Palace', 'Incandescent_light_bulb',
       'Arsenal_F.C.', 'Clothing', 'Chicago_Cubs', 'Korean_War',
       'Copyright_infringement', 'Greece', 'Royal_Dutch_Shell', 'Mammal',
       'East_India_Company', 'Hokkien', 'Professional_wrestling',
       'Film_speed', 'Mexico_City', 'Napoleon', 'Germans',
       'Southeast_Asia', 'Brigham_Young_University', 'Department_store',
       'Intellectual_property', 'Florida', 'Queen_(band)',
       'Presbyterianism', 'Thuringia', 'Predation', 'Marvel_Comics',
       'British_Empire', 'Botany', 'Madonna_(entertainer)',
       'Law_of_the_United_States', 'Myanmar', 'Jews', 'Cotton',
       'Data_compression', 'The_Sun_(United_Kingdom)', 'Pesticide',
       'Somerset', 'Yale_University', 'Late_Middle_Ages',
       'Ann_Arbor,_Michigan', 'Gothic_architecture', 'Cubism',
       'Political_philosophy', 'Alloy', 'Norfolk_Island', 'Edmund_Burke',
       'Samoa', 'Pope_Paul_VI', 'Electric_motor', 'Switzerland', 'Mali',
       'Raleigh,_North_Carolina', 'Nutrition', 'Crimean_War',
       'Nonprofit_organization', 'Literature', 'Avicenna',
       'Chinese_characters', 'Bermuda', 'Nigeria', 'Utrecht',
       'Molotov%E2%80%93Ribbentrop_Pact', 'Capacitor',
       'History_of_science', 'Digimon', 'Glacier', 'Comcast',
       'Tuberculosis', 'Affirmative_action_in_the_United_States',
       'FA_Cup', 'New_Haven,_Connecticut', 'Alsace', 'Carnival',
       'Baptists', 'Child_labour', 'North_Carolina', 'Heian_period',
       'On_the_Origin_of_Species', 'Dissolution_of_the_Soviet_Union',
       'Crucifixion_of_Jesus', 'Supreme_court', 'Textual_criticism',
       'Gramophone_record', 'Turner_Classic_Movies', 'Hindu_philosophy',
       'Political_party', 'A_cappella', 'Dominican_Order', 'Eton_College',
       'Cork_(city)', 'Galicia_(Spain)', 'USB', 'Sichuan', 'Unicode',
       'Detroit', 'London', 'Culture', 'Sahara', 'Rule_of_law', 'Tibet',
       'Exhibition_game', 'Northwestern_University', 'Strasbourg',
       'Oklahoma', 'History_of_India', 'Gamal_Abdel_Nasser',
       'Pope_John_XXIII', 'Time', 'European_Central_Bank',
       'St._John%27s,_Newfoundland_and_Labrador', 'John_von_Neumann',
       'PlayStation_3', 'Royal_assent', 'Group_(mathematics)',
       'Central_African_Republic', 'Asthma', 'LaserDisc', 'George_VI',
       'Federalism', 'Annelid', 'God', 'War_on_Terror',
       'Labour_Party_(UK)', 'Estonia', 'Alaska', 'Karl_Popper',
       'Mandolin', 'Insect', 'Race_(human_categorization)', 'Paris',
       'Apollo', 'United_States_presidential_election,_2004',
       'Liberal_Party_of_Australia', 'Samurai', 'Software_testing',
       'States_of_Germany', 'Glass', 'Planck_constant',
       'Renewable_energy_commercialization', 'Palermo', 'Green', 'Zinc',
       'Neoclassical_architecture', 'Serbo-Croatian', 'CBC_Television',
       'Appalachian_Mountains', 'IBM', 'Energy', 'East_Prussia',
       'Ottoman_Empire', 'Philosophy_of_space_and_time', 'Neolithic',
       'Friedrich_Hayek', 'Diarrhea', 'Madrasa', 'Miami', 'Philadelphia',
       'John_Kerry', 'Rajasthan', 'Guam', 'Empiricism', 'Idealism',
       'Czech_language', 'Education', 'Tennessee', 'Post-punk',
       'Canadian_football', 'Seven_Years%27_War', 'Richard_Feynman',
       'Muammar_Gaddafi', 'Cyprus', 'Steven_Spielberg', 'Elevator',
       'Neptune', 'Railway_electrification_system',
       'Spanish_language_in_the_United_States',
       'Charleston,_South_Carolina', 'The_Blitz',
       'Endangered_Species_Act', 'Vacuum', 'Han_dynasty', 'Quran',
       'Geography_of_the_United_States', 'Compact_disc', 'Transistor',
       'Modern_history', '51st_state', 'Antenna_(radio)',
       'Flowering_plant', 'Hyderabad', 'Santa_Monica,_California',
       'Washington_University_in_St._Louis',
       'Central_Intelligence_Agency', 'Pain', 'Database',
       'Tucson,_Arizona', 'Armenia', 'Bacteria', 'Printed_circuit_board',
       'Greeks', 'Premier_League', 'Roman_Republic', 'Pacific_War',
       'San_Diego', 'Muslim_world', 'Iran', 'British_Isles',
       'Association_football', 'Georgian_architecture', 'Liberia',
       'Alfred_North_Whitehead', 'Antibiotics', 'Windows_8', 'Swaziland',
       'Translation', 'Airport', 'Kievan_Rus%27',
       'Super_Nintendo_Entertainment_System', 'Sumer', 'Tuvalu',
       'Immaculate_Conception', 'Namibia', 'Russian_language',
       'United_States_Air_Force', 'Light-emitting_diode', 'Great_power',
       'Bird', 'Qing_dynasty', 'Indigenous_peoples_of_the_Americas',
       'Red', 'Egypt', 'Mosaic', 'University', 'Religion_in_ancient_Rome',
       'YouTube', 'Separation_of_church_and_state_in_the_United_States',
       'Protestantism', 'Bras%C3%ADlia', 'Economy_of_Greece',
       'Party_leaders_of_the_United_States_House_of_Representatives',
       'Armenians', 'Jehovah%27s_Witnesses', 'Dwight_D._Eisenhower',
       'The_Bronx', 'Financial_crisis_of_2007%E2%80%9308', 'Portugal',
       'Humanism', 'Geological_history_of_Earth', 'Police', 'Genocide',
       'Saint_Barth%C3%A9lemy', 'Tajikistan', 'University_of_Notre_Dame',
       'Anthropology', 'Montana', 'Punjab,_Pakistan',
       'Richmond,_Virginia', 'Infection', 'Hunting', 'Kathmandu',
       'Myocardial_infarction', 'Matter'], dtype=object)

In [ ]:
titles = [
    "Beyoncé",
    "Frédéric_Chopin",
    "The_Legend_of_Zelda:_Twilight_Princess",
    "Beyoncé",
    "Frédéric_Chopin",
    "Sino-Tibetan_relations_during_the_Ming_dynasty",
    "IPod",
    "The_Legend_of_Zelda:_Twilight_Princess",
    "Spectre_(2015_film)",
    "2008_Sichuan_earthquake",
    "New_York_City",
    "To_Kill_a_Mockingbird",
    "Solar_energy",
    "Kanye_West",
    "Buddhism",
    "American_Idol",
    "Dog",
]

In [ ]:
for title in titles:
    print(title, squad_dataset[squad_dataset["title"] == title].shape)

Beyoncé (753, 5)
Frédéric_Chopin (697, 5)
The_Legend_of_Zelda:_Twilight_Princess (374, 5)
Beyoncé (753, 5)
Frédéric_Chopin (697, 5)
Sino-Tibetan_relations_during_the_Ming_dynasty (291, 5)
IPod (327, 5)
The_Legend_of_Zelda:_Twilight_Princess (374, 5)
Spectre_(2015_film) (462, 5)
2008_Sichuan_earthquake (521, 5)
New_York_City (817, 5)
To_Kill_a_Mockingbird (228, 5)
Solar_energy (249, 5)
Kanye_West (428, 5)
Buddhism (610, 5)
American_Idol (790, 5)
Dog (392, 5)

In [ ]:
mask = squad_dataset["answers"].apply(
    lambda x: isinstance(x, dict) and "text" in x and len(x["text"]) == 0
)

# Display the filtered rows
filtered_df = squad_dataset[~mask].reset_index(drop=True)
print(filtered_df)

                             id      title  \
0      56be85543aeaaa14008c9063    Beyoncé
1      56be85543aeaaa14008c9065    Beyoncé
2      56be85543aeaaa14008c9066    Beyoncé
3      56bf6b0f3aeaaa14008c9601    Beyoncé
4      56bf6b0f3aeaaa14008c9602    Beyoncé
...                         ...        ...
86816  5735d259012e2f140011a09d  Kathmandu
86817  5735d259012e2f140011a09e  Kathmandu
86818  5735d259012e2f140011a09f  Kathmandu
86819  5735d259012e2f140011a0a0  Kathmandu
86820  5735d259012e2f140011a0a1  Kathmandu

                                                 context  \
0      Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...
1      Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...
2      Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...
3      Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...
4      Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...
...                                                  ...
86816  Kathmandu Metropolitan City (KMC), in order to...
86817  Kathmandu Metropolitan City (KMC), in order to...
86818  Kathmandu Metropolitan City (KMC), in order to...
86819  Kathmandu Metropolitan City (KMC), in order to...
86820  Kathmandu Metropolitan City (KMC), in order to...

                                                question  \
0               When did Beyonce start becoming popular?
1      What areas did Beyonce compete in when she was...
2      When did Beyonce leave Destiny's Child and bec...
3          In what city and state did Beyonce  grow up?
4             In which decade did Beyonce become famous?
...                                                  ...
86816  In what US state did Kathmandu first establish...
86817               What was Yangon previously known as?
86818  With what Belorussian city does Kathmandu have...
86819  In what year did Kathmandu create its initial ...
86820                      What is KMC an initialism of?

                                                 answers
0      {'text': ['in the late 1990s'], 'answer_start'...
1      {'text': ['singing and dancing'], 'answer_star...
2              {'text': ['2003'], 'answer_start': [526]}
3      {'text': ['Houston, Texas'], 'answer_start': [...
4        {'text': ['late 1990s'], 'answer_start': [276]}
...                                                  ...
86816        {'text': ['Oregon'], 'answer_start': [229]}
86817       {'text': ['Rangoon'], 'answer_start': [414]}
86818         {'text': ['Minsk'], 'answer_start': [476]}
86819          {'text': ['1975'], 'answer_start': [199]}
86820  {'text': ['Kathmandu Metropolitan City'], 'ans...

[86821 rows x 5 columns]

In [ ]:
small_squad_dataset = filtered_df[filtered_df["title"].isin(titles)]
small_squad_dataset = small_squad_dataset.drop(columns=["id"])
small_squad_dataset["need_retrieval"] = 1

In [ ]:
small_squad_train_dataset = small_squad_dataset.sample(1600, random_state=42)
small_squad_train_dataset = small_squad_train_dataset.rename(
    columns={"question": "prompt"}
)

In [35]:
small_squad_dataset

,title,context,question,answers,need_retrieval
0,Beyoncé,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce start becoming popular?,"{'text': ['in the late 1990s'], 'answer_start'...",1
1,Beyoncé,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,What areas did Beyonce compete in when she was...,"{'text': ['singing and dancing'], 'answer_star...",1
2,Beyoncé,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce leave Destiny's Child and bec...,"{'text': ['2003'], 'answer_start': [526]}",1
3,Beyoncé,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,In what city and state did Beyonce grow up?,"{'text': ['Houston, Texas'], 'answer_start': [...",1
4,Beyoncé,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,In which decade did Beyonce become famous?,"{'text': ['late 1990s'], 'answer_start': [276]}",1
...,...,...,...,...,...
6586,Dog,"Although it is said that the ""dog is man's bes...",Dog cognition has been studied on what kind of...,"{'text': ['pet dogs living in human homes.'], ...",1
6587,Dog,"Wolves, and their dog descendants, would have ...",What would wolves have gotten from living with...,"{'text': ['significant benefits'], 'answer_sta...",1
6588,Dog,The cohabitation of dogs and humans would have...,What has likely led to human success?,"{'text': ['the domestication of dogs'], 'answe...",1
6589,Dog,The scientific evidence is mixed as to whether...,Studies that people are better off with dogs h...,"{'text': ['poorly controlled'], 'answer_start'...",1
6590,Dog,The scientific evidence is mixed as to whether...,People who have cats or dogs make fewer visits...,"{'text': ['to the doctor'], 'answer_start': [5...",1

In [ ]:
# CHECK IT
# def convert_answers(x):
#     try:
#         return x['text'][0]
#     except Exception as e:
#         print(e)
#         return None
small_squad_train_dataset.answers = small_squad_dataset.answers.apply(
    lambda x: x["text"][0]
)

In [ ]:
small_squad_test_dataset = small_squad_dataset.drop(
    small_squad_train_dataset.index
).sample(400, random_state=42)
small_squad_test_dataset.answers = small_squad_test_dataset.answers.apply(
    lambda x: x["text"][0]
)

In [38]:
merged_dataset = pd.concat([merged_dataset, small_squad_train_dataset], axis=0)

### Save dataset

In [ ]:
merged_dataset.to_csv("../data/merged.csv", index=False)

In [ ]:
demonstration_df = pd.concat(
    [small_squad_test_dataset, sample_need_retrieval_0], axis=0
)
demonstration_df = demonstration_df.sample(frac=1, random_state=42)

In [41]:
sample_need_retrieval_0.head()

,category,question,need_retrieval
5063,closed_qa,Is the capital city and the largest city of Ch...,0
5846,NaN,Change the text into a historical reenactment ...,0
9650,NaN,Make the text into a cyberpunk hacker's manife...,0
4051,NaN,Make the text into a weather forecast script T...,0
2494,NaN,Describe this as a arrangement to be arranged....,0

In [42]:
demonstration_df.head()

,title,context,question,answers,need_retrieval,category
1627,Sino-Tibetan_relations_during_the_Ming_dynasty,Tsai writes that shortly after the visit by De...,What did Yongle want to trade with Tibet?,"tea, horses, and salt",1,NaN
13970,NaN,NaN,Extract the cinema industry and the percentage...,NaN,0,information_extraction
304,NaN,NaN,Adapt the text to make it relevant for a corpo...,NaN,0,NaN
249,Beyoncé,Her fourth studio album 4 was released on June...,What magazine did Beyoncé write a story for ab...,Essence,1,NaN
2825,2008_Sichuan_earthquake,In the China Digital Times an article reports ...,What did the China Digital Times report?,a close analysis by an alleged Chinese constru...,1,NaN

### Save dataset

In [ ]:
demonstration_df.to_csv("../data/test.csv", index=False)